/* Asterik Wildcare selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */
body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    /* Generic project styles */
    color: #3a3a3a;

/* HEADER*/
header {
    background-color: lightcoral;
}
/* MAIN */
main {
    background-color: lightyellow;
    /* Make main take up remaining space */
    flex: 1 0 auto;
}
/* FOOTER */
footer {
    background-color: lightgreen;
}