/* Google fonts import */.
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
</style>

/* Asterik Wildcare selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles */
body { 
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'lato', sans-serif;

/* HEADER*/
header {
    background-color: lightcoral;
}
/* MAIN */
main {
    background-color: lightyellow;
    /* Make main take up remaining space */
    flex: 1 0 auto;
}
/* FOOTER */
footer {
    background-color: lightgreen;
}